<p class="text-white-75 mb-4">
Hello there, my name is Ryan and this is Leatherbound Webpages, my personal blog. If you’re checking this out that probably means you know me so I’ll keep the personal exposition to a minimum. In a nutshell, I am currently 27 and living in Santa Barbara, California. Originally, I am from Encinitas, California so you could say I have a type when it comes to the towns I live in - relatively small and ocean adjacent.
<br><br>
I am in an interesting chapter of my life. I left my “9-5” job a few months back with the intention of becoming a self-taught software engineer. I started learning programming at my previous job and while I thought I would hate it, I quickly decided I wanted to pursue it as my full time career. I also saw this as my opportunity to pivot into the industry I am passionate about, renewable energy. 
<br><br>
Work is far from the only thing that defines me though. I have a collection of intriguing hobbies including surfing, coding (gotta love when a professional skill coincides as a hobby), and making music. 
</p>
