<p class="text-white-75 mb-4">
I have toyed with the idea of writing a blog for a while now. I journal often and at times think to myself, “I wish I could share this entry.” Those journal entries vary widely. From recounting experiences to writing in a stream of consciousness when I feel I need an outlet for whatever I am feeling at that time. 
<br><br>
People have asked me what the theme of my blog will be and I never have a good answer. It quickly dawned on me, though, that this blog ought to be true to the original reason I wanted it in the first place. 
<br><br>
This blog will be my public facing journal where I write entries like I would in my own journal. My journal has the only common theme of, well, me. And despite the self-indulgent theme, I trust that other themes which arise in my journal entries will shine through. Ultimately, I hope to share introspective thoughts through the context of lived experiences.
<br><br>
To answer the “Why the Blog?” question in my own roundabout way, I created this blog as an outlet for me to share my thoughts and life experiences. To allow family, friends, and whoever else stumbles upon this site to get a glimpse into yet another twenty-something enjoying their human experience.
</p>
