<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" 
        rel="stylesheet" 
        integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" 
        crossorigin="anonymous"
    />
    <title>{% block title %}{% endblock %}</title>
    <script src="https://kit.fontawesome.com/b669b9afd1.js" crossorigin="anonymous"></script>
    <link href="/static/styles.css" rel="stylesheet" />
    <link rel="icon" type="image/x-icon" href="static/icon.ico" />
</head>
<body>
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-light fixed-top py-3" id="mainNav">
        <div class="container px-4 px-lg-5">
            <a class="navbar-brand" href="/home">Ryan Zinniger</a>
            <button class="navbar-toggler navbar-toggler-right" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ms-auto my-2 my-lg-0">
                    <a class="nav-item nav-link" href="/home"><b>Home</b></a>
                    <a class="nav-item nav-link" href="/posts"><b>All Posts</b></a>
                    {% if user.is_authenticated %}
                        <a class="nav-item nav-link" href="/logout"><b>Logout({{user.username}})</b></a>  
                        {% if user.permissions == "Root" %}
                            <!-- <a class="nav-item nav-link" href="/posts/{{user.username}}"><b>My Posts</b></a>    --><!-- Hidden for now. Can use once multiple posters are allowed -->
                            <a class="nav-item nav-link fa-solid fa-pen-to-square" href="/create-post" style="padding: .8rem"></a>
                            <i class="nav-item nav-link fa-solid fa-user-plus" style="padding: .8rem"></i>
                        {% else %}
                            <i class="nav-item nav-link fa-solid fa-user" style="padding: .8rem"></i>
                            {% if user.subscribed == True %}
                                <i class="nav-item nav-link fa-solid fa-envelope" style="padding: .8rem" onclick=toggle_subscription({{ user.id }}) id="subscribed-{{ user.id }}"><span hidden id="subscription-status-{{ user.id }}">True</span></i>
                            {% else %}
                                <i class="nav-item nav-link fa-regular fa-envelope" style="padding: .8rem" onclick=toggle_subscription({{ user.id }}) id="subscribed-{{ user.id }}"><span hidden id="subscription-status-{{ user.id }}">False</span></i>
                            {% endif %}
                        {% endif %}
                    {% else %}
                        <a class="nav-item nav-link" href="/sign-up"><b>Sign Up</a>    
                        <a class="nav-item nav-link" href="/login"><b>Login</b></a>
                        <!-- <i class="nav-item nav-link fa-regular fa-user" style="padding: .8rem"></i> -->
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>
    <!-- Display flash messages -->
    {% with messages = get_flashed_messages(with_categories=True) %}
        {% if messages %}
            {% for category, message in messages %}
                {% if category == "error" %}
                <div class="alert alert-danger alert-dismissable fade show" role="alert">
                    {{ message }}
                    <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
                </div>
                {% else %}
                <div class="alert alert-success alter-dismissable fade show" role="alert">
                    {{ message }}
                    <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
                </div>
                {% endif %}
            {% endfor %}
        {% endif %}
    {% endwith %}

    <!-- Where page's inherited content goes -->
    {% block content %}{% endblock %}
</body>

<script 
    src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" 
    integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" 
    crossorigin="anonymous"
></script>
<script
    type="text/javascript"
    src="/static/index.js"
></script>
<script src="/static/scripts.js"></script>

</html>