<div>
    <!-- Display like count -->
    <span id="likes-count-{{post.id}}">{{ post.likes|length }}</span> 
    <!-- Display correct like icon based on whether user has liked the post -->
    {% if user.id in post.likes|map(attribute="author")|list %}
        <i class="fas fa-thumbs-up" id="like-button-{{post.id}}" onclick="like({{post.id}})">  </i>
    {% else %}
        <i class="far fa-thumbs-up" id="like-button-{{post.id}}" onclick="like({{post.id}})">  </i>
    {% endif %} 
    <!-- Buttons for Post's Author Only -->
    {% if user.id == post.author %}
      <!-- Display correct pin icon based on whether user has pinned their post -->
      {% if post.pinned == False %}
          <i class="param fa-solid fa-location-pin" value="false" id="pin-button-{{post.id}}" onclick="pin({{post.id}})"></i>
      {% else %}
          <i class="param fa-solid fa-check" value="true" id="pin-button-{{post.id}}" onclick="pin({{post.id}})"></i>
      {% endif %}
    <!-- Button to update post -->
        <a class="fa-solid fa-pen" id="edit-post-{{post.id}}" href="/edit-post/{{ post.id }}" style="text-decoration: none; color: #000000;"></a>
    <!-- Button to delete  post -->
        <i class="fas fa-trash" id="delete-post-button-{{post.id}}" onclick="delete_post({{post.id}})"></i>
    {% endif %}
</div>