<div class="collapse" id="comments-{{post.id}}">
    <div class="card border-dark bg-light p-2" style="--bs-bg-opacity: .50;">
      <div class="card-body" id="comments-expanded-{{post.id}}">
        {% for comment in post.comments %}
        <div class="d-flex justify-content-between align-items-center" id="comment-{{comment.id}}">
          <div>
            <a href="/posts/{{comment.user.username}}">{{comment.user.username}}</a>: {{comment.text}}
          </div>
          <div>
            <small class="text-muted"> {{comment.date_created.strftime("%b %d, %Y @ %I:%M %p")}}</small>
            <!-- Allow author or commentor to delete comments -->
            {% if user.id == comment.author or user.id == post.author %}
            <div class="btn-group">
                <i class="fas fa-trash" id="delete-comment-button-{{post.id}}" onclick="delete_comment({{comment.id}})"></i>
            </div>
            {% endif %}
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
<!-- Button for expanding comment section -->
<p class="card-text" style="padding-top: 1rem;" >
  {% if post.comments|length == 1 %}
      <a data-bs-toggle="collapse" href="#comments-{{post.id}}" role="button">
          <button class="btn btn-secondary">View 1 Comment</button>
      </a>
  {% elif post.comments|length > 1 %}
      <a data-bs-toggle="collapse" href="#comments-{{post.id}}" role="button">
          <button class="btn btn-secondary">View {{post.comments|length}} Comments</button>
      </a>
  {% else %}
      <small class="text-muted">No Comments</small>
  {% endif %}
</p>
<!-- Form for creating a comment -->
<form class="input-group mb-3" method="POST" action="/create-comment/{{post.id}}">
  <input type="text" id="text" name="text" class="form-control" placeholder="Leave a comment..."/>
  <button type="submit" class="btn btn-primary">Comment</button>
</form>