{% extends "base.html" %}
{% block title %}Login{% endblock %}
{% block content %}
<body style="padding: 8rem; background-color: rgb(116, 116, 116)">
    <form method="POST" id="sign-up">
    <h3 align="center">Login</h3>
    <div class="form-group mx-auto" style="max-width: 450px;">
        <label for="email">Email Address</label>
        <input type="text" id="email" name="email" class="form-control" placeholder="Enter Email"/>
        <label for="password">Password</label>
        <input type="password" id="password" name="password" class="form-control" placeholder="Enter Password"/>
        <br>
        <div align="center">
            <button class="btn text-bg-dark" type="submit">Login</button>
        </div>
        <br>
        <center>
            <label>Don't have an account?</label>
            <br>
            <a class="link-dark"href="/sign-up">Sign Up</a>
        </center>
    </div>
</form>
</body>
{% endblock %}