{% extends "base.html" %}
{% block title %}Login{% endblock %}
{% block content %}
<section class="auth">
    <!-- Login Form -->
    <form method="POST" id="login">
        <h3 align="center">Login</h3>
        <div class="form-group mx-auto" style="max-width: 450px;">
            <label class="spacing" for="email-or-username">Username or Email Address</label>
            <input type="text" id="email-or-username" name="email-or-username" class="form-control" placeholder="Enter Email or Username"/>
            <label class="spacing" for="password">Password</label>
            <input type="password" id="password" name="password" class="form-control" placeholder="Enter Password"/>
            <!-- Login Button -->
            <div align="center" style="padding: 2rem;">
                <button class="btn text-bg-dark" type="submit">Login</button>
            </div>
        </div>
    </form>
    <!-- Option to Switch to Sign Up Page -->
    <div align="center">
        <label>Don't have an account?</label><br>
        <a class="link-dark" href="/sign-up">Sign Up</a>
    </div>
</section>
{% endblock %}