{% extends "base.html" %}
{% block title %}Sign Up{% endblock %}
{% block content %}
<body style="padding: 8rem; background-color: rgb(116, 116, 116)">
<form method="POST" id="sign-up">
    <h3 align="center">Sign Up</h3>
    <div class="form-group mx-auto" style="max-width: 450px;">
        <label for="username">Username</label>
        <input type="text" id="username" name="username" class="form-control" placeholder="Enter Username"/>
        <label for="email">Email Address</label>
        <input type="text" id="email" name="email" class="form-control" placeholder="Enter Email"/>
        <label for="fName">First Name</label>
        <input type="text" id="fName" name="fName" class="form-control" placeholder="Enter First Name"/>
        <label for="lName">Last Name</label>
        <input type="text" id="lName" name="lName" class="form-control" placeholder="Enter Last Name"/>
        <label for="password1">Password</label>
        <input type="password" id="password1" name="password1" class="form-control" placeholder="Enter Password"/>
        <label for="password2">Reenter Password</label>
        <input type="password" id="password2" name="password2" class="form-control" placeholder="Renter Password"/>
        <br>
        <div align="center">
            <button class="btn text-bg-dark" type="submit">Sign Up</button>
        </div>
        <br>
        <center>
            <label>Already have an account?</label>
            <br>
            <a class="link-dark" href="/login">Login</a>
        </center>
    </div>
    </form>
</body>
{% endblock %}