{% extends "base.html" %}
{% block title %}
    {{username}}'s Posts
{% endblock %}
{% block content %}
<body class="posts">
    <div class="container px-4 px-lg-5 h-100">
        <div class="row gx-4 gx-lg-5 h-100 align-items-center justify-content-center">
            <div class="col-lg-8 align-self-end">
                <h1 class="text-black font-weight-bold text-center"><b>{{username}}'s Posts</b></h1>
                <hr class="divider" />
            </div>
            <div class="col-lg-8 align-self-baseline">
                {% include "posts_div.html" %}
            </div>
        </div>
    </div>
</body>
{% endblock %}